/* Ensures the image covers the full section */
.right-sec {
    background-image: url('../images/background.jpg'); /* Update with the correct path to the image */
    background-size: cover;
    height: 100vh;
}

/* Adjust the ForgotPassword image to ensure proper scaling */
.ForgotPassword-image {
    width: 100%;
    max-width: 80%; /* Ensures proper scaling */
    margin-top: 10px;
}

.left-side {
    background-color: #F6F8FB;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container styling */
.container-fluid {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Form container styling */
.forgot-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Button styling */
button {
    margin-top: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .right-sec {
        background-size: contain;
        background-position: top;
    }
    .forgot-form-container {
        width: 100%;
        padding: 20px;
        border: none;
    }
}

@media (max-width: 576px) {
    .forgot-form-container {
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        font-size: 0.875rem;
        padding: 8px;
    }
}