.right-section {
    background-color: #f8f9fa;
  }
  
  .balance-card {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .balance-amount {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .card-header {
    font-weight: bold;
    
  }