
.home-routing {
    color: rgba(167, 167, 167, 1);
    font-weight: 400;
    font-size: 18px;
  }
  
  .home-routing-span {
    color: rgba(32, 34, 36, 1);
    width: 12px !important;
    display: inline-block !important;
  }
  
  .current-page-routing {
    color: rgba(86, 120, 233, 1);
  }
  
  .navbar-span {
    font-size: 16px;
    font-weight: 700;
    color: black;
  }
  .nav{
    width: 100%; /* Ensure full width on all screens */
    position: fixed;
    height: 80px !important; 
    z-index: 999;
    top: 0;
    left: 0; /* Ensure it's at the left edge */
    right: 0; /* Ensure it's at the right edge */
  } 

  